.App footer {
	margin-top: 3rem;
}

.App footer .source {
	color: var(--grey02);
	font-family: 'BentonSansCond-RegItalic', sans-serif;
	font-size: 1rem;
	margin-top: 3px;
}

.App .source a {
	color: inherit;
}


@media only screen and (min-width: 550px) {
    /* Style adjustments for viewports that meet the condition */
/*	.App footer {
		display: flex;
		justify-content: space-between;
	}
	.App footer .source {
		flex: 1;
	}
	.App footer .source:nth-child(2) {
		text-align: right;
	}*/
}